<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">
    <title>{{ page_title }}</title>

    {{ content_for_header }}

    {{ checkout_stylesheets }}
     {{ settings.code_in_head }}
    {{ checkout_scripts }}
    <script type="text/javascript">
      if(Shopify.Checkout.page == "thank_you"){
        var id = new Array();
        {% for line_item in order.line_items %} 
        id.push('{{line_item.product.id}}');
         {% endfor %}
         var google_tag_params = {
           ecomm_prodid: id,
           ecomm_pagetype: 'purchase',
           ecomm_totalvalue: {{checkout.total_price | money_without_currency| remove: "," | json}}
         };
         var dataLayer = window.dataLayer || [];
        dataLayer.push({
          'event': 'fireRemarketingTag',
          google_tag_params
        });
      }
    </script>
    <script src="{{ 'checkout.bundle.js' | asset_url }}" defer="defer"></script>
    {% include 'dataLayer-allPages' %}
  </head>
  <body>
    {{ settings.code_in_body }}
    {{ skip_to_content_link }}

    <header class="banner" data-header role="banner">
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </header>

    {{ order_summary_toggle }}
    <div class="content" data-content>
      <div class="wrap">
        <div class="main">
          <header class="main__header" role="banner">
            {{ content_for_logo }}
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </header>
          <main class="main__content" role="main">
            {{ content_for_layout }}
          </main>
          <footer class="main__footer" role="contentinfo">
            {{ content_for_footer }}
          </footer>
        </div>
        <aside class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            {{ content_for_order_summary }}            
          </div>
        </aside>
      </div>
    </div>
    {{ tracking_code }}
  </body>
  <script>
      window.routes = {
        cart_url: '{{ routes.cart_url }}',
        cart_add_url: '{{ routes.cart_add_url }}',
        cart_change_url: '{{ routes.cart_change_url }}',
        cart_update_url: '{{ routes.cart_update_url }}',
        predictive_search_url: '{{ routes.predictive_search_url }}'
        data_source: {
          handle: {{ settings.cart_bed_collection | default: "" | json }},
          render: {{ 'utility-product' | json }}
        };
      };
     
    </script>
</html>