{%- style -%}
  .section-{{ section.id }}-padding {
    padding-bottom: {{ section.settings.padding_bottom_mb }}px;
  }

  @media screen and (min-width: 768px) {
    .section-{{ section.id }}-padding {
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="module mod-product-columns section-{{ section.id }}-padding">
	<div class="container px-12 md:px-24 xl:px-10 2xl:px-24 2xl:max-w-1600 1k8:px-0">
    {% if section.settings.heading != empty %}
    <div class="title-product-col mb-25 md:mb-19 md:pt-8 md:pr-5 xl:pt-32 xl:mr-8 xl:mb-20 2xl:pt-24 2xl:mb-35 last-mb-none">
      <h3 class="{{ section.settings.heading_size }}" data-cy="heading">{{ section.settings.heading }}</h3>
    </div>
    {% endif %}
    <div class="transition-transform" data-paroller-factor="0.1" data-paroller-type="foreground">
      {% if section.settings.collection != blank %}
        <div class="box-products row -mx-4">
          {% for collection in section.settings.collection.products limit:3 %}
            <div class="item-product relative px-4 md:w-1/2 mb-41 down_md:last:mb-0 md:mb-36 xl:w-1/3 xl:mb-35 2xl:mb-15">
              {% if collection.metafields.custom.feature_image != blank %}
               <a href="{{ collection.url }}" class="block relative image-product mb-16 md:mb-16 xl:mb-12 2xl:mb-15" tabindex="-1">
                  <div class="pb-product-col relative overflow-hidden">
                    <img src="{{ collection.metafields.custom.feature_image | image_url }}" alt="{{ collection.featured_media.alt }}" class="object-cover object-center absolute left-0 top-0 w-full h-full 2xl:rounded-4">
                  </div>
                </a>
              {% else %}
                {%- if collection.featured_media != blank -%}
                  <a href="{{ collection.url }}" class="block relative image-product mb-16 md:mb-16 xl:mb-12 2xl:mb-15" tabindex="-1">
                    <div class="pb-product-col relative overflow-hidden">
                      <img src="{{ collection.featured_media | image_url }}" alt="{{ collection.featured_media.alt }}" class="object-cover object-center absolute left-0 top-0 w-full h-full 2xl:rounded-4">
                    </div>
                  </a>
                {% else %}
                <a href="{{ collection.url }}" class="block relative image-product mb-16 md:mb-16 xl:mb-12 2xl:mb-15" tabindex="-1">
                    <div class="pb-product-col relative overflow-hidden">
                      <img src="{{ 'product-detail.jpg' | asset_url }}" alt="{{ collection.title | escape }}" class="object-cover object-center absolute left-0 top-0 w-full h-full 2xl:rounded-4">
                    </div>
                  </a>
                {% endif %}
              {% endif %}

              <div class="detail-product px-12 md:px-8 md:pr-16 lg:px-0 xl:max-w-320 2xl:max-w-490">
                {% if collection.title != empty %}
                <div class="title-product mb-8 md:mb-4 xl:mb-8 2xl:mb-12 last-mb-none">
                  <h3 class="h5" data-cy="title-{{ forloop.index }}">
                    {%- if collection.url != blank %}
                      <a href="{{ collection.url }}" class="no-underline">
                        {{ collection.title }}
                      </a>
                    {% endif %}
                  </h3>
                </div>
                {% endif %}

                {% if collection.description != empty %}
                <div class="last-mb-none mb-11 md:mb-10 xl:mb-6 2xl:mb-14 text-dark-grey" data-cy="content-{{ forloop.index }}">
                  {{ collection.description | truncatewords: 27 }}
                </div>
                {% endif %}
                <div>
                  <a href="{{ collection.url }}" class="link-arrow btn" data-cy="link-{{ forloop.index }}">
                    Shop Now
                    <span class="sr-only">{{ collection.title }}</span>
                    <span class="icomoon icon-link-arrow"></span>
                  </a>
                </div>
              </div>
            </div>
          {%- endfor -%}
        </div>
      {% else %}
        <product-recommendations data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit=3">
          {% if recommendations.performed and recommendations.products_count > 0 %}
            <div class="box-products row -mx-4">
            {% for recommendation in recommendations.products %}
            {% assign url = recommendation.url | split: "?" | first  %}
            <div class="item-product relative px-4 md:w-1/2 mb-41 down_md:last:mb-0 md:mb-36 xl:w-1/3 xl:mb-35 2xl:mb-15">
              {% if recommendation.metafields.custom.feature_image != blank %}
                <a href="{{ url  }}" class="block relative image-product mb-16 md:mb-16 xl:mb-12 2xl:mb-15" tabindex="-1">
                    <div class="pb-product-col relative overflow-hidden">
                      <img src="{{ recommendation.metafields.custom.feature_image | image_url }}" alt="{{ recommendation.featured_media.alt }}" class="object-cover object-center absolute left-0 top-0 w-full h-full 2xl:rounded-4">
                    </div>
                  </a>
              {% else %}
                {%- if recommendation.featured_media != blank -%}
                  <a href="{{ url  }}" class="block relative image-product mb-16 md:mb-16 xl:mb-12 2xl:mb-15" tabindex="-1">
                    <div class="pb-product-col relative overflow-hidden">
                      <img src="{{ recommendation.featured_media | image_url }}" alt="{{ recommendation.featured_media.alt }}" class="object-cover object-center absolute left-0 top-0 w-full h-full 2xl:rounded-4">
                    </div>
                  </a>
                {% endif %}
              {% endif %}

              <div class="detail-product px-12 md:px-8 md:pr-16 lg:px-0 xl:max-w-320 2xl:max-w-490">
                {% if recommendation.title != empty %}
                <div class="title-product mb-8 md:mb-4 xl:mb-8 2xl:mb-12 last-mb-none">
                  <h3 class="h5" data-cy="title-{{ forloop.index }}">
                    {%- if recommendation.url != blank %}
                      <a href="{{ url }}" class="no-underline">
                        {{ recommendation.title }}
                      </a>
                    {% endif %}
                  </h3>
                </div>
                {% endif %}

                {% if recommendation.description != empty %}
                <div class="last-mb-none mb-11 md:mb-10 xl:mb-6 2xl:mb-14 text-dark-grey" data-cy="content-{{ forloop.index }}">
                  {{ recommendation.description | truncatewords: 27 }}
                </div>
                {% endif %}
                <div>
                  <a href="{{ url }}" class="link-arrow btn" data-cy="link-{{ forloop.index }}">
                    Shop Now
                    <span class="sr-only">{{ recommendation.title }}</span>
                    <span class="icomoon icon-link-arrow"></span>
                  </a>
                </div>
              </div>
            </div>
            {%- endfor -%}
            </div>
          {% endif %}
        </product-recommendations>
      {% endif %}
    </div>
	</div>
</div>

{% javascript %}
  class ProductRecommendations extends HTMLElement {
    constructor() {
      super();

      const handleIntersection = (entries, observer) => {
        if (!entries[0].isIntersecting) return;
        observer.unobserve(this);
        fetch(this.dataset.url)
          .then(response => response.text())
          .then(text => {
            const html = document.createElement('div');
            html.innerHTML = text;
            const recommendations = html.querySelector('product-recommendations');

            if (recommendations && recommendations.innerHTML.trim().length) {
              this.innerHTML = recommendations.innerHTML;
            }

            if (html.querySelector('.grid__item')) {
              this.classList.add('product-recommendations--loaded');
            }
          })
          .catch(e => {
            console.error(e);
          });
      }

      new IntersectionObserver(handleIntersection.bind(this), {rootMargin: '0px 0px 200px 0px'}).observe(this);
    }
  }

  customElements.define('product-recommendations', ProductRecommendations);
{% endjavascript %}

{% schema %}
{
  "name": "t:sections.product-recommendations.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Additional product categories you may like headline"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "h2"
        },
        {
          "value": "h3",
          "label": "h3"
        },
        {
          "value": "h4",
          "label": "h4"
        }
      ],
      "default": "h3",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom_mb",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 40,
      "label": "Bottom padding mobile"
    }
  ],
  "presets": [
    {
      "name": "t:sections.product-recommendations.name"
    }
  ]
}
{% endschema %}
