<!-- Begin Mailchimp Signup Form -->
<div id="mc_embed_signup">
	<form
		action="https://9thwonder.us17.list-manage.com/subscribe/post?u=640c9c7a5e0d6443023f45f7e&amp;id=7d283bb536&amp;f_id=000346e0f0"
		method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_self">
		<div id="mc_embed_signup_scroll">

			<div class="indicates-required hidden"><span class="asterisk">*</span> indicates required</div>
			<div class="mc-field-group form-group mb-12">
				<label class="sr-only" for="mce-EMAIL">Email Address <span class="asterisk">*</span>
				</label>
				<input type="email" value="" name="EMAIL" class="required email form-control form-control-v2" id="mce-EMAIL" required placeholder="Email Address *">
				<span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
			</div>
			<div class="mc-field-group form-group mb-12">
				<label class="sr-only" for="mce-FNAME">First Name </label>
				<input type="text" value="" name="FNAME" class="form-control form-control-v2" id="mce-FNAME" placeholder="First Name">
				<span id="mce-FNAME-HELPERTEXT" class="helper_text"></span>
			</div>
			<div class="mc-field-group form-group mb-12">
				<label class="sr-only" for="mce-LNAME">Last Name </label>
				<input type="text" value="" name="LNAME" class="form-control form-control-v2" id="mce-LNAME" placeholder="Last Name">
				<span id="mce-LNAME-HELPERTEXT" class="helper_text"></span>
			</div>
	</form>
</div>
<!--End mc_embed_signup-->

<!-- Start: Module Homepage Banner -->
<section class="module mod-homepage-banner relative xl:flex items-center lg:min-h-banner-home-lg 2xl:min-h-banner-home-2xl">
	{% assign typeBg = 'image' %}
	{% if typeBg == 'image' %}
	<picture>
		<source media="(max-width: 480px)" srcset="{{ 'banner-home-mobile.webp' | asset_url }}">
		<source media="(min-width: 480px) and (max-width:1200px)" srcset="{{ 'banner-home-tablet.webp' | asset_url }}">
		<img src="{{ 'banner-home-desktop.webp' | asset_url }}" alt="Banner Home"
			class="top-0 left-0 w-full h-full xl:absolute object-cover object-center no-lazy">
	</picture>
	{% elsif typeBg == 'youtube' %}
	<div class="video-container relative xl:static">
		<iframe src="https://www.youtube.com/embed/YU38wzgjD_4?controls=0&autoplay=1&mute=1&playsinline=1&loop=1" class="top-0 left-0 w-full h-full absolute md:-z-1"></iframe>
		<div class="pb-youtube md:pb-youtube-md"></div>
	</div>
	{% endif %}

	<div class="container relative z-1">
		<div class="wrap-content-home pl-24 md:pl-16 pr-18 pt-32 pb-8 xl:pb-20 xl:pt-13 lg:px-60p5 2xl:px-0 2xl:pt-30">
			<div class="content last-mb-none mb-20 xl:mb-24 xl:max-w-362 2xl:max-w-660 h6 md:text-h5-md md:leading-1-6 text-dark-grey 2xl:-ml-1" >
				<h1>Adjust to amazing</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum facilisis lorem orci fringilla
					nisl eget ut mi velit. </p>
			</div>
			<a href="#" class="no-underline btn btn-primary">
				Primary Button
			</a>
		</div>
	</div>
</section>
<!-- End: Module Homepage Banner -->

<div class="h-100"></div>

<!-- Start: Module Large Features Banner -->
<section class="module mod-large-features-banner px-12 md:px-24">
	<div class="container bg-midnight-blue text-white pt-32 pb-36 md:pb-28 px-24 md:pl-39 md:pr-40 xl:px-34 md:pt-32 xl:pb-16 2xl:pt-60 2xl:pb-30 xl:max-w-1136 2xl:max-w-1600 2xl:rounded-4">
		<div class="content last-mb-none text-center mb-12 md:mb-12 max-w-1344 mx-auto h2-v2">
			<h2>7 million + adjustable bases sold worldwide</h2>
		</div>

		<div class="row max-w-1344 mx-auto xl:justify-center">
			<div class="w-full md:w-1/2 xl:w-1/4 md:px-4 ">
				<div class="max-w-174 md:max-w-full pt-24 md:pt-16 md:mb-16 2xl:mb-30 text-center mx-auto last-mb-none h5-v2 font-medium">
					<img data-src="{{ 'affirm.svg' | asset_url }}" alt="Affirm" class="lazy mb-8 mx-auto min-h-91">
					<p>Pay as little as $56.65/mo for 12 months with Affirm.</p>
				</div>
			</div>

			<div class="w-full md:w-1/2 xl:w-1/4 md:px-4">
				<div class="max-w-174 md:max-w-full pt-24 md:pt-16 2xl:mb-30 md:mb-16 text-center mx-auto last-mb-none h5-v2 font-medium">
					<img data-src="{{ 'warranty.svg' | asset_url }}" alt="Warranty" class="lazy mb-8 mx-auto min-h-91">
					<p>10-year limited warranty</p>
				</div>
			</div>

			<div class="w-full md:w-1/2 xl:w-1/4 md:px-4">
				<div class="max-w-174 md:max-w-full pt-24 md:pt-16 md:mb-16 2xl:mb-30 text-center mx-auto last-mb-none h5-v2 font-medium">
					<img data-src="{{ 'customer-service.svg' | asset_url }}" alt="Customer Service" class="lazy mb-8 mx-auto min-h-91">
					<p>24/7, US-based customer service</p>
				</div>
			</div>

			<div class="w-full md:w-1/2 xl:w-1/4 md:px-4">
				<div class="max-w-174 md:max-w-full pt-24 md:pt-16 md:mb-16 2xl:mb-30 text-center mx-auto last-mb-none h5-v2 font-medium">
					<img data-src="{{ 'contact-delivery.svg' | asset_url }}" alt="Contact Delivery" class="lazy mb-8 mx-auto min-h-91">
					<p>Free, no contact delivery</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End: Module Large Features Banner -->

<div class="h-25"></div>

<!-- Start: Module Product Line -->
<section class="module mod-product-line ">
	<div class="container px-12 md:px-24 xl:px-10 2xl:max-w-1370">
		<div class="title xl:flex mb-27 md:mb-19 xl:mb-20 pr-20 xl:pr-0 2xl:items-center">
			<div class="flex-1 mb-10 xl:mr-8 xl:mb-0 md:mb-7 last-mb-none">
				<h3>Meet the Quest product line headline</h3>
			</div>
			<div class="flex-none">
				<a href="#" class="link-arrow btn xl:mt-1p5 xl:mr-1p5 2xl:mt-0 2xl:mr-0">
					Compare all Quest adjustable bases
					<span class="icomoon icon-link-arrow"></span>
				</a>
			</div>
		</div>

		<div class="box-products row -mx-4">
			<div class="item-product relative px-4 md:w-1/2 mb-41 down_md:last:mb-0 md:mb-36 xl:mb-35 2xl:mb-39">
				<div class="relative image-product mb-16 md:mb-12 2xl:mb-20">
					<img data-src="{{ 'product-line.jpg' | asset_url }}" alt="Product Line" class="lazy object-cover object-center absolute left-0 top-0 w-full h-full 2xl:rounded-4">
					<div class="pb-product-line overflow-hidden relative product-custom-feature md:pb-product-line-md lg:pb-product-line-lg 2xl:pb-product-line-2xl"></div>
				</div>

				<div class="detail-product px-12 md:px-8 md:pr-16 lg:px-0 xl:max-w-500 2xl:max-w-576">
					<h5 class="title-product mb-8 md:mb-4 xl:mb-3 2xl:mb-8">Quest 1.0</h5>
					<p class="text-dark-grey font-semibold mb-11 md:mb-4 2xl:mb-8">Starting at $649</p>
					<div class="last-mb-none mb-10 xl:mb-6">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquet velit ridiculus molestie vel augue dui ipsum, sed.</p>
					</div>

					<a href="#" class="link-arrow btn">
						Quest 1.0 product details
						<span class="icomoon icon-link-arrow"></span>
					</a>
				</div>

				<a href="javascript:;" class="link-full">Quest 1.0 product details</a>
			</div>

			<div class="item-product relative px-4 md:w-1/2 mb-41 down_md:last:mb-0 md:mb-36 xl:mb-35 2xl:mb-39">
				<div class="relative image-product mb-16 md:mb-12 2xl:mb-20">
					<img data-src="{{ 'product-line.jpg' | asset_url }}" alt="Product Line" class="lazy object-cover object-center absolute left-0 top-0 w-full h-full 2xl:rounded-4">
					<div class="pb-product-line overflow-hidden relative product-custom-feature md:pb-product-line-md lg:pb-product-line-lg 2xl:pb-product-line-2xl"></div>
				</div>

				<div class="detail-product px-12 md:px-8 md:pr-16 lg:px-0 xl:max-w-500 2xl:max-w-576">
					<h5 class="title-product mb-8 md:mb-4 xl:mb-3 2xl:mb-8">Quest 2.0</h5>
					<p class="text-dark-grey font-semibold mb-11 md:mb-4 2xl:mb-8">Starting at $649</p>
					<div class="last-mb-none mb-10 xl:mb-6">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquet velit ridiculus molestie vel augue dui ipsum, sed.</p>
					</div>

					<a href="#" class="link-arrow btn">
						Quest 2.0 product details
						<span class="icomoon icon-link-arrow"></span>
					</a>
				</div>

				<a href="javascript:;" class="link-full">Quest 2.0 product details</a>
			</div>

			<div class="item-product relative px-4 md:w-1/2 mb-41 down_md:last:mb-0 md:mb-36 xl:mb-35 2xl:mb-39">
				<div class="relative image-product mb-16 md:mb-12 2xl:mb-20">
					<img data-src="{{ 'product-line.jpg' | asset_url }}" alt="Product Line" class="lazy object-cover object-center absolute left-0 top-0 w-full h-full 2xl:rounded-4">
					<div class="pb-product-line overflow-hidden relative product-custom-feature md:pb-product-line-md lg:pb-product-line-lg 2xl:pb-product-line-2xl"></div>
				</div>

				<div class="detail-product px-12 md:px-8 md:pr-16 lg:px-0 xl:max-w-500 2xl:max-w-576">
					<h5 class="title-product mb-8 md:mb-4 xl:mb-3 2xl:mb-8">Quest 2.5</h5>
					<p class="text-dark-grey font-semibold mb-11 md:mb-4 2xl:mb-8">Starting at $649</p>
					<div class="last-mb-none mb-10 xl:mb-6">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquet velit ridiculus molestie vel
							augue dui ipsum, sed.</p>
					</div>

					<a href="#" class="link-arrow btn">
						Quest 2.5 product details
						<span class="icomoon icon-link-arrow"></span>
					</a>
				</div>

				<a href="javascript:;" class="link-full">Quest 2.5 product details</a>
			</div>

			<div class="item-product relative px-4 md:w-1/2 mb-41 down_md:last:mb-0 md:mb-36 xl:mb-35 2xl:mb-39">
				<div class="relative image-product mb-16 md:mb-12 2xl:mb-20">
					<img data-src="{{ 'product-line.jpg' | asset_url }}" alt="Product Line" class="lazy object-cover object-center absolute left-0 top-0 w-full h-full 2xl:rounded-4">
					<div class="pb-product-line overflow-hidden relative product-custom-feature md:pb-product-line-md lg:pb-product-line-lg 2xl:pb-product-line-2xl"></div>
				</div>

				<div class="detail-product px-12 md:px-8 md:pr-16 lg:px-0 xl:max-w-500 2xl:max-w-576">
					<h5 class="title-product mb-8 md:mb-4 xl:mb-3 2xl:mb-8">Quest 4.0</h5>
					<p class="text-dark-grey font-semibold mb-11 md:mb-4 2xl:mb-8">Starting at $649</p>
					<div class="last-mb-none mb-10 xl:mb-6">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquet velit ridiculus molestie vel
							augue dui ipsum, sed.</p>
					</div>

					<a href="#" class="link-arrow btn">
						Quest 4.0 product details
						<span class="icomoon icon-link-arrow"></span>
					</a>
				</div>

				<a href="javascript:;" class="link-full">Quest 4.0 product details</a>
			</div>
		</div>
	</div>
</section>
<!-- End: Module Product Line -->

<div class="h-25"></div>

<!-- Start: Module Large Banner -->
<section class="module mod-large-banner">
	<div class="container bg-midnight-blue pt-32 pb-36 md:pt-25 md:pb-23 pl-8 pr-7 md:px-20 xl:px-16 xl:max-w-1136 2xl:max-w-1596 xl py-15:xl:py-20 2xl:py-60">
		<div class="row max-w-1344 mx-auto">
			<div class="col-left w-full mb-8 md:mb-0 md:w-1/2 pl-4 pr-5 md:px-4 flex">
				<div class="relative w-full">
					<img data-src="{{ 'large-banner.jpg' | asset_url }}" alt="Large Banner" class="lazy object-cover object-center absolute left-0 top-0 w-full h-full xl:rounded-4">
					<div class="pb-large-banner md:pb-large-banner-md xl:pb-large-banner-xl 2xl:pb-large-banner-2xl"></div>
				</div>
			</div>
			<div class="col-right w-full md:w-1/2 px-4 flex " >
				<div class="bg-white justify-center py-30 px-20 md:py-16 md:px-14 xl:px-36 2xl:px-41 flex flex-col xl:rounded-4">
					<div class="content text-center last-mb-none quote">
						<p>“If you’re a “bells sand whistles” kind of person, think of this high-tech wonder as the Cadillac of platform bed frames.”</p>
					</div>
					<img data-src="{{ 'scary-momy.png' | asset_url }}" alt="Scary Mommy" class="mx-auto mt-20 md:mt-8 2xl:mt-20 lazy">
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End: Module Large Banner -->

<div class="h-25"></div>

<!-- Start: Module Featured Blogs -->
<section class="module mod-featured-blogs">
	<div class="container px-12 md:px-24 xl:px-10 2xl:max-w-1370">
		<div class="title xl:flex mb-27 md:mb-19 xl:mb-20 pr-20 xl:pr-0 2xl:items-center">
			<div class="flex-1 mb-10 xl:mr-8 xl:mb-0 md:mb-6 last-mb-none">
				<h3>The latest from the blog headline</h3>
			</div>
			<div class="flex-none">
				<a href="#" class="link-arrow btn xl:mt-1p5 xl:mr-1p5 2xl:mt-0">
					View all blog posts
					<span class="icomoon icon-link-arrow"></span>
				</a>
			</div>
		</div>

		<div class="row px-8 xl:px-0 md:-mx-12 xl:-mx-4 2xl:-mx-14">
			<div class="box-item-blog relative md:px-4 w-full md:w-1/2 xl:w-1/3 mb-27 2xl:px-14 md:mb-0">
				<div class="relative mb-16 md:mb-12 2xl:mb-20">
					<img data-src="{{ 'blog-1.jpg' | asset_url }}" alt="A feature benefit of an Ergomotion product" class="lazy object-cover object-center absolute left-0 top-0 w-full h-full">
					<div class="pb-product-line overflow-hidden relative product-custom-feature md:pb-blog-item-md xl:pb-blog-item-xl 2xl:pb-blog-item-2xl"></div>
				</div>
				<div class="blog-content px-12 md:pl-0 md:pr-20 xl:pr-12">
					<h5 class="text-hush-black mb-13 md:mb-9 xl:mb-7">A feature benefit of an Ergomotion product</h5>
					<p class="text-dark-grey font-semibold mb-0">May 4, 2022</p>
				</div>
				<!-- <a href="javascript:;" class="link-full">A feature benefit of an Ergomotion product</a> -->
			</div>

			<div class="box-item-blog relative md:px-4 w-full md:w-1/2 xl:w-1/3 mb-27 2xl:px-14 md:mb-0">
				<div class="relative mb-16 md:mb-12 2xl:mb-20">
					<img data-src="{{ 'blog-2.jpg' | asset_url }}" alt="A feature benefit of an Ergomotion product" class="lazy object-cover object-center absolute left-0 top-0 w-full h-full">
					<div class="pb-product-line overflow-hidden relative product-custom-feature md:pb-blog-item-md xl:pb-blog-item-xl 2xl:pb-blog-item-2xl"></div>
				</div>
				<div class="blog-content px-12 md:pl-0 md:pr-20 xl:pr-12">
					<h5 class="text-hush-black mb-13 md:mb-9 xl:mb-7">A feature benefit of an Ergomotion product</h5>
					<p class="text-dark-grey font-semibold mb-0">May 4, 2022</p>
				</div>
				<!-- <a href="javascript:;" class="link-full">A feature benefit of an Ergomotion product</a> -->
			</div>

			<div class="box-item-blog relative md:px-4 w-full md:w-1/2 xl:w-1/3 mb-27 2xl:px-14 md:mb-0 md_to_lg:hidden ">
				<div class="relative mb-16 md:mb-12 2xl:mb-20">
					<img data-src="{{ 'blog-3.jpg' | asset_url }}" alt="A feature benefit of an Ergomotion product" class="lazy object-cover object-center absolute left-0 top-0 w-full h-full">
					<div class="pb-product-line overflow-hidden relative product-custom-feature md:pb-blog-item-md xl:pb-blog-item-xl 2xl:pb-blog-item-2xl"></div>
				</div>
				<div class="blog-content px-12 md:pl-0 md:pr-20 xl:pr-12">
					<h5 class="text-hush-black mb-13 md:mb-9 xl:mb-7">A feature benefit of an Ergomotion product</h5>
					<p class="text-dark-grey font-semibold mb-0">May 4, 2022</p>
				</div>
				<!-- <a href="javascript:;" class="link-full">A feature benefit of an Ergomotion product</a> -->
			</div>
		</div>
	</div>
</section>
<!-- End: Module Featured Blogs -->

<div class="h-25"></div>

<!-- Start: Module Instagram -->
<section class="module mod-testimonials-slide">
  <div class="container px-12 md:px-24 xl:px-8 down_md:flex down_md:flex-col">
    <div class="down_md:order-0 headline-testimonials lg:flex justify-between items-center -mb-2 md:mb-20 2xl:mb-40">
      <h3 class="mb-0">Testimonials Headline Here</h3>
      <p class="mb-0 down_lg:mt-6 down_md:mt-11">
        <a href="#" class="link-arrow btn">
          Text button
          <span class="icomoon icon-link-arrow"></span>
        </a>
      </p>
    </div>
    <div class="down_md:order-3 list-box-terminal relative down_md:mt-33 -mx-4 2xl:-mx-23">
      <div class="item-terminal px-4 2xl:px-23">
        <div class="pl-24 md:pl-16 pr-18 py-15 h-full xl:py-20 2xl:px-32 2xl:py-45 bg-white col-box">
          <div class="mb-33 md:mb-5 xl:mb-17 2xl:mb-32 last-mb-none">
            <div class="list-start flex mb-9 items-center">
              <img data-src="{{ 'start.svg' | asset_url }}" class="lazy mr-3">
              <img data-src="{{ 'start.svg' | asset_url }}" class="lazy mr-3">
              <img data-src="{{ 'start.svg' | asset_url }}" class="lazy mr-3">
              <img data-src="{{ 'start.svg' | asset_url }}" class="lazy mr-3">
              <img data-src="{{ 'start.svg' | asset_url }}" class="lazy mr-3">
            </div>
            <h5>The perfect solution</h5>
          </div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipis cing elit. Auctor sag ittis, et, mat tis etet.
            Mauris enim  sd suscipit pretium feugiat turpis.
            Libero ultricies  as aliquet fames tortor pellentesque nibh cras ac. 
          </p>
          <div class="author flex items-center mt-35 md:-mt-7 xl:mt-18 2xl:mt-35">
            <h6 class="mr-10 2xl:mr-5 mb-0 text-base font-semibold">Julie</h6>
            <img data-src="{{ 'check.svg' | asset_url }}" class="lazy">
          </div>
        </div>
      </div>
      <div class="item-terminal px-4 2xl:px-23">
        <div class="pl-24 md:pl-16 pr-18 py-15 h-full xl:py-20 2xl:px-32 2xl:py-45 bg-white col-box">
          <div class="mb-33 md:mb-5 xl:mb-17 2xl:mb-32 last-mb-none">
            <div class="list-start flex mb-9 items-center">
              <img data-src="{{ 'start.svg' | asset_url }}" class="lazy mr-3">
              <img data-src="{{ 'start.svg' | asset_url }}" class="lazy mr-3">
              <img data-src="{{ 'start.svg' | asset_url }}" class="lazy mr-3">
              <img data-src="{{ 'start.svg' | asset_url }}" class="lazy mr-3">
              <img data-src="{{ 'start.svg' | asset_url }}" class="lazy mr-3">
            </div>
            <h5>The perfect solution</h5>
          </div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipis cing elit. Auctor sag ittis, et, mat tis etet.
            Mauris enim  sd suscipit pretium feugiat turpis.
            Libero ultricies  as aliquet fames tortor pellentesque nibh cras ac. Lorem ipsum dolor sit amet, consectetur adipis cing elit. Auctor sag ittis, et, mat tis etet.
            Mauris enim  sd suscipit pretium feugiat turpis.
            Libero ultricies  as aliquet fames tortor pellentesque nibh cras ac. 
          </p>
          <div class="author flex items-center mt-35 md:-mt-7 xl:mt-18 2xl:mt-35">
            <h6 class="mr-10 2xl:mr-5 mb-0 text-base font-semibold">Julie</h6>
            <img data-src="{{ 'check.svg' | asset_url }}" class="lazy">
          </div>
        </div>
      </div>
      <div class="item-terminal px-4 2xl:px-23">
        <div class="pl-24 md:pl-16 pr-18 py-15 h-full xl:py-20 2xl:px-32 2xl:py-45 bg-white col-box">
          <div class="mb-33 md:mb-5 xl:mb-17 2xl:mb-32 last-mb-none">
            <div class="list-start flex mb-9 items-center">
              <img data-src="{{ 'start.svg' | asset_url }}" class="lazy mr-3">
              <img data-src="{{ 'start.svg' | asset_url }}" class="lazy mr-3">
              <img data-src="{{ 'start.svg' | asset_url }}" class="lazy mr-3">
              <img data-src="{{ 'start.svg' | asset_url }}" class="lazy mr-3">
              <img data-src="{{ 'start.svg' | asset_url }}" class="lazy mr-3">
            </div>
            <h5>The perfect solution</h5>
          </div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipis cing elit. Auctor sag ittis, et, mat tis etet.
            Mauris enim  sd suscipit pretium feugiat turpis.
            Libero ultricies  as aliquet fames tortor pellentesque nibh cras ac. 
          </p>
          <div class="author flex items-center mt-35 md:-mt-7 xl:mt-18 2xl:mt-35">
            <h6 class="mr-10 2xl:mr-5 mb-0 text-base font-semibold">Julie</h6>
            <img data-src="{{ 'check.svg' | asset_url }}" class="lazy">
          </div>
        </div>
      </div>
      <div class="item-terminal px-4 2xl:px-23">
        <div class="pl-24 md:pl-16 pr-18 py-15 h-full xl:py-20 2xl:px-32 2xl:py-45 bg-white col-box">
          <div class="mb-33 md:mb-5 xl:mb-17 2xl:mb-32 last-mb-none">
            <div class="list-start flex mb-9 items-center">
              <img data-src="{{ 'start.svg' | asset_url }}" class="lazy mr-3">
              <img data-src="{{ 'start.svg' | asset_url }}" class="lazy mr-3">
              <img data-src="{{ 'start.svg' | asset_url }}" class="lazy mr-3">
              <img data-src="{{ 'start.svg' | asset_url }}" class="lazy mr-3">
              <img data-src="{{ 'start.svg' | asset_url }}" class="lazy mr-3">
            </div>
            <h5>The perfect solution</h5>
          </div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipis cing elit. Auctor sag ittis, et, mat tis etet.
            Mauris enim  sd suscipit pretium feugiat turpis.
            Libero ultricies  as aliquet fames tortor pellentesque nibh cras ac. 
          </p>
          <div class="author flex items-center mt-35 md:-mt-7 xl:mt-18 2xl:mt-35">
            <h6 class="mr-10 2xl:mr-5 mb-0 text-base font-semibold">Julie</h6>
            <img data-src="{{ 'check.svg' | asset_url }}" class="lazy">
          </div>
        </div>
      </div>
    </div>
    <div class="down_md:order-1 control-slide-testimonials flex items-center mt-20 2xl:mt-39 down_lg:justify-end"></div>
    <div class="down_md:order-2 control-dots-testimonials w-full"></div>
  </div>
</section>
<!-- End: Module Instagram -->

<div class="h-25"></div>
<!-- Start: Module Overflow content block -->
<section class="module mod-overflow-content-blocks">
  <div class="container px-12 md:px-24 xl:px-10 2xl:px-8 flex flex-col xl:flex-row">
    <div class="headline-testimonials px-12 md:pl-0 xl:px-0 xl:w-192 2xl:w-260p5 xl:mr-48 2xl:mr-80 xl:flex-none relative xl:z-10">
      <div class="last-mb-none mb-20 md:mb-12">
        <h3 class="md_to_xl:text-h3 xl_to_2xl:text-h3-md">Turn your bedroom into your best room</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipis cing elit. Auctor sagittis, et, mattis etet. Mauris enim
          suscipit pretium feugiat turpis. Libero ultricies aliquet fames tortor pellentesque nibh cras ac.
        </p>
      </div>

      <div class="control-slide-content-block flex items-center down_xl:justify-end relative pr-2 xl:-ml-2"></div>
      <div class="control-dots-content-block max-w-153 ml-auto mr-3 xl:mx-0 w-full relative"></div>
    </div>

    <div class="list-slider-content-block relative mt-24 md:mt-20 xl:mt-0 overflow-hidden md:-mx-4 xl:flex-1 xl:overflow-visible ">

      <div class="item-slider md:px-4 xl:w-288 2xl:w-405">
        <div class="relative">
          <div class="relative mb-16 md:mb-12 2xl:mb-16">
            <img data-src="{{ 'overflow-content-block.jpg' | asset_url }}" alt="Product" class="full-absolute-img lazy 2xl:rounded-4">
            <div class="pb-ratio-slider-block md:pb-ratio-slider-block-md xl:pb-ratio-slider-block-xl 2xl:pb-ratio-slider-block-2xl"></div>
          </div>
          <div class="wrap-content px-12 md:pl-8 md:pr-24 xl:px-0">
            <div class="last-mb-none mb-11 md:mb-10 xl:mb-6p5 xl:max-w-428 2xl:max-w-662">
              <h3 class="h3 xl:text-h4 2xl:text-tel-footer">Lifestyle benefits headline</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquet velit ridiculus molestie vel augue dui
                ipsum, sed.
              </p>
            </div>
            <a href="#" class="link-arrow btn">
              Text button
              <span class="icomoon icon-link-arrow"></span>
            </a>
          </div>
		  <a href="javascript:;" class="link-full">Text button</a>
        </div>
      </div>

      <div class="item-slider md:px-4 xl:w-288 2xl:w-405">
        <div class="relative">
          <div class="relative mb-16 md:mb-12 2xl:mb-16">
            <img data-src="{{ 'overflow-content-block.jpg' | asset_url }}" alt="Product" class="full-absolute-img lazy 2xl:rounded-4">
            <div class="pb-ratio-slider-block md:pb-ratio-slider-block-md xl:pb-ratio-slider-block-xl 2xl:pb-ratio-slider-block-2xl"></div>
          </div>
          <div class="wrap-content px-12 md:pl-8 md:pr-24 xl:px-0">
            <div class="last-mb-none mb-11 md:mb-10 xl:mb-6p5 xl:max-w-428 2xl:max-w-662">
              <h3 class="h3 xl:text-h4 2xl:text-tel-footer">Lifestyle benefits headline</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquet velit ridiculus molestie vel augue dui
                ipsum, sed.
              </p>
            </div>
            <a href="#" class="link-arrow btn">
              Text button
              <span class="icomoon icon-link-arrow"></span>
            </a>
          </div>
		  <a href="javascript:;" class="link-full">Text button</a>

        </div>
      </div>

      <div class="item-slider md:px-4 xl:w-288 2xl:w-405">
        <div class="relative">
          <div class="relative mb-16 md:mb-12 2xl:mb-16">
            <img data-src="{{ 'overflow-content-block.jpg' | asset_url }}" alt="Product" class="full-absolute-img lazy 2xl:rounded-4">
            <div class="pb-ratio-slider-block md:pb-ratio-slider-block-md xl:pb-ratio-slider-block-xl 2xl:pb-ratio-slider-block-2xl"></div>
          </div>
          <div class="wrap-content px-12 md:pl-8 md:pr-24 xl:px-0">
            <div class="last-mb-none mb-11 md:mb-10 xl:mb-6p5 xl:max-w-428 2xl:max-w-662">
              <h3 class="h3 xl:text-h4 2xl:text-tel-footer">Lifestyle benefits headline</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquet velit ridiculus molestie vel augue dui
                ipsum, sed.
              </p>
            </div>
            <a href="#" class="link-arrow btn">
              Text button
              <span class="icomoon icon-link-arrow"></span>
            </a>
          </div>
		  <a href="javascript:;" class="link-full">Text button</a>
        </div>
      </div>

      <div class="item-slider md:px-4 xl:w-288 2xl:w-405">
        <div class="relative">
          <div class="relative mb-16 md:mb-12 2xl:mb-16">
            <img data-src="{{ 'overflow-content-block.jpg' | asset_url }}" alt="Product" class="full-absolute-img lazy 2xl:rounded-4">
            <div class="pb-ratio-slider-block md:pb-ratio-slider-block-md xl:pb-ratio-slider-block-xl 2xl:pb-ratio-slider-block-2xl"></div>
          </div>
          <div class="wrap-content px-12 md:pl-8 md:pr-24 xl:px-0">
            <div class="last-mb-none mb-11 md:mb-10 xl:mb-6p5 xl:max-w-428 2xl:max-w-662">
              <h3 class="h3 xl:text-h4 2xl:text-tel-footer">Lifestyle benefits headline</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquet velit ridiculus molestie vel augue dui
                ipsum, sed.
              </p>
            </div>
            <a href="#" class="link-arrow btn">
              Text button
              <span class="icomoon icon-link-arrow"></span>
            </a>
          </div>
		  <a href="javascript:;" class="link-full">Text button</a>
        </div>
      </div>

      <div class="item-slider md:px-4 xl:w-288 2xl:w-405">
        <div class="relative">
          <div class="relative mb-16 md:mb-12 2xl:mb-16">
            <img data-src="{{ 'overflow-content-block.jpg' | asset_url }}" alt="Product" class="full-absolute-img lazy 2xl:rounded-4">
            <div class="pb-ratio-slider-block md:pb-ratio-slider-block-md xl:pb-ratio-slider-block-xl 2xl:pb-ratio-slider-block-2xl"></div>
          </div>
          <div class="wrap-content px-12 md:pl-8 md:pr-24 xl:px-0">
            <div class="last-mb-none mb-11 md:mb-10 xl:mb-6p5 xl:max-w-428 2xl:max-w-662">
              <h3 class="h3 xl:text-h4 2xl:text-tel-footer">Lifestyle benefits headline</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquet velit ridiculus molestie vel augue dui
                ipsum, sed.
              </p>
            </div>
            <a href="#" class="link-arrow btn">
              Text button
              <span class="icomoon icon-link-arrow"></span>
            </a>
          </div>
		  <a href="javascript:;" class="link-full">Text button</a>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- End: Module Overflow content block -->

<div class="h-25"></div>
<div class="container">
	<h1>Headline style h1</h1>
	<h2>Headline style h2</h2>
	<h3>Headline <a href="#">style H3</a></h3>
	<h4>Headline style H4</h4>
	<h5>Headline style H5</h5>
	<h6>Headline style H6</h6>
	<p>
		<a href="#" class="no-underline btn btn-primary">Default Large CTA</a>
	</p>
	<p>
		<a href="#" class="no-underline btn btn-outline-primary">Default Large CTA</a>
	</p>
	<p>
		<a href="#" class="no-underline btn btn-light">Default Large CTA</a>
	</p>
	<p>
		<a href="#" class="no-underline btn btn-outline-light">Default Large CTA</a>
	</p>

	<p>
		<a href="#" class="link-arrow btn">
			Text button
			<span class="icomoon icon-link-arrow"></span>
		</a>
	</p>
	<ul>
		<li>
			provide specific training a certifications to tower
			<a href="#">climbers and maners in the field</a>
		</li>
		<li>provide specific training and certifications to to</li>
		<li>
			provide specific training and certifications to tower climbers and
			managers in the field
		</li>
		<li>provide specific training and certrs and managers in the field</li>
		<li>
			provide specific training and certifications to tower climbers and
			managers in the field
		</li>
	</ul>

	<p>
		Lorem Ipsum is simply dummy text of the printing and typesetting industry.
		Lorem Ipsum has been the industry's standard dummy text ever since the
		1500s, when an unknown printer took a galley of type and scrambled it to
		make a type specimen book. It has survived not only five centuries
	</p>
	<ol>
		<li>
			provide specific training and certifications to tower
			<a href="#">climbers and managers in the field</a>
		</li>
		<li>
			provide specific training and certifications to tower climbers and
			managers in the field
		</li>
		<li>
			provide specific training and certifications to tower climbers and
			managers in the field
		</li>
		<li>
			provide specific training and certificat limbers and managers in the
			field
		</li>
		<li>
			provide specific training and certifications to tower climbers and
			managers in the field
		</li>
	</ol>
	<p>
		Lorem Ipsum is simply dummy text of the printing and typesetting industry.
		Lorem Ipsum has been the industry's standard dummy text ever since the
		1500s, when an unknown printer took a galley of type and scrambled it to
		make a type specimen book. It has survived not only five centuries
	</p>
	<p>
		<img data-src="assets/images/ajax-loader.svg" alt="" class="lazy img-svg" />
	</p>
	<div class="p-10 text-white bg-primary-100 mb-3 text-inherit-child">
		<p>
			Lorem Ipsum is simply dummy text of the printing and typesetting
			industry. Lorem Ipsum has been the industry's standard dummy text ever
			since the 1500s, when an unknown printer took a galley of type and
			scrambled it to make a type specimen book. It has survived not only five
			centuries
		</p>
		<h2 class="h1">Frontend Team My Team</h2>
		<h2>Headline style H2</h2>
		<h3>Headline style H3</h3>
		<h4>Headline <a href="#">style H4</a></h4>
		<h5>Headline style H5</h5>
		<h6>Headline style H6</h6>
		<p>
			<a href="#" class="no-underline btn btn-light">Default Large CTA</a>
		</p>
		<p>
			<a href="#" class="no-underline btn btn-outline-light">Default Large CTA</a>
		</p>
		<p>
			<a href="#" class="link-arrow white btn">
				Text button
				<span class="icomoon icon-link-arrow"></span>
			</a>
		</p>
		<p>
			Lorem Ipsum is simply dummy text of the printing and typesetting
			industry. Lorem Ipsum has been the industry's standard dummy text ever
			since the 1500s, when an unknown printer took a galley of type and
			scrambled it to make a type specimen book. It has survived not only five
			centuries
		</p>
		<ul>
			<li>
				provide specific training and certifications to tower
				<a href="#">climbers and managers in the field</a>
			</li>
			<li>
				provide specific training and certifications to tower climbers and
				managers in the field
			</li>
			<li>
				provide specific training and certifications to tower climbers and
				managers in the field
			</li>
			<li>
				provide specific training and certifications to tower climbers and
				managers in the field
			</li>
			<li>
				provide specific training and certifications to tower climbers and
				managers in the field
			</li>
		</ul>
		<p>
			Lorem Ipsum is simply dummy text of the printing and typesetting
			industry. Lorem Ipsum has been the industry's standard dummy text ever
			since the 1500s, when an unknown printer took a galley of type and
			scrambled it to make a type specimen book. It has survived not only five
			centuries
		</p>
		<ol>
			<li>
				provide specific training and certifications to tower
				<a href="#">climbers and managers in the field</a>
			</li>
			<li>
				provide specific training and certifications to tower climbers and
				managers in the field
			</li>
			<li>
				provide specific training and certifications to tower climbers and
				managers in the field
			</li>
			<li>
				provide specific training and certifications to tower climbers and
				managers in the field
			</li>
			<li>
				provide specific training and certifications to tower climbers and
				managers in the field
			</li>
		</ol>
		<p>
			Lorem Ipsum is simply dummy text of the printing and typesetting
			industry. Lorem Ipsum has been the industry's standard dummy text ever
			since the 1500s, when an unknown printer took a galley of type and
			scrambled it to make a type specimen book. It has survived not only five
			centuries
		</p>
	</div>
</div>

<div class="container">
	<div class="text-white row fix-height">
		<div class="col md:w-1/3">
			<div class="p-8 item bg-primary-100 height-item mb-7 last-mb-none">
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting
					industry. Lorem Ipsum has been the industry's standard dummy
				</p>
			</div>
		</div>
		<div class="col md:w-1/3">
			<div class="p-8 item bg-primary-100 height-item mb-7 last-mb-none">
				<p>
					Lorem Ipsum is simply dummy text of
				</p>
			</div>
		</div>
		<div class="col md:w-1/3">
			<div class="p-8 item bg-primary-100 height-item mb-7 last-mb-none">
				<p>
					Lorem Ipsum is simply dummy text of the printing and
				</p>
				<p>
					Lorem Ipsum is simply dummy text of the printing and
				</p>
			</div>
		</div>
		<div class="col md:w-1/3">
			<div class="p-8 item bg-primary-100 height-item mb-7 last-mb-none">
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting
					industry. Lorem Ipsum has been the industry's standard dummy Lorem
					Ipsum is simply dummy text of the printing and typesetting industry.
					Lorem Ipsum has been the industry's standard dummy
				</p>
			</div>
		</div>
	</div>
	<div class="h-25"></div>
	<div class="social">
		<ul class="block pl-0">
			<li class="inline-block px-4 pl-0">
				<a rel="noopener noreferrer" class="no-underline" target="_blank" href="#">
					<i class="icomoon icon-twitter" aria-hidden="true"></i>
					<span class="sr-only">twitter</span>
				</a>
			</li>
			<li class="inline-block px-4">
				<a rel="noopener noreferrer" class="no-underline" target="_blank" href="#">
					<i class="icomoon icon-linkedin2" aria-hidden="true"></i>
					<span class="sr-only">linkedin</span>
				</a>
			</li>
			<li class="inline-block px-4">
				<a rel="noopener noreferrer" class="no-underline" target="_blank" href="#">
					<i class="icomoon icon-facebook" aria-hidden="true"></i>
					<span class="sr-only">facebook</span>
				</a>
			</li>
			<li class="inline-block px-4">
				<a rel="noopener noreferrer" class="no-underline" target="_blank" href="#">
					<i class="icomoon icon-google-plus" aria-hidden="true"></i>
					<span class="sr-only">google</span>
				</a>
			</li>
		</ul>

	</div>

	<p>
		<a href="#" class="no-underline btn btn-primary">Default Large CTA</a>
	</p>
	<p>
		<a href="#" class="no-underline btn btn-outline-primary">Default Large CTA</a>
	</p>
	<br />
	<h3>Custom select js</h3>
	<div class="row">
		<div class="col md:w-1/2">
			<div class="form-group mb-10 form-select-c8">
				<label for="select-1">Please Select</label>
				<select class="select-c8 hidden" id="select-1" data-title="Please Select">
					<option value="India">India</option>
					<option value="Australia">Australia</option>
					<option value="United States">United States</option>
				</select>
			</div>
			<div class="form-group mb-10 form-select-c8">
				<label for="select-2">Select country</label>
				<select class="select-c8 hidden" id="select-2">
					<option value="India 2" class="">India 2</option>
					<option value="Australia 2">Australia 2</option>
					<option value="United States 2">United States 2</option>
					<option value="Viet Nam 2" disabled selected>Viet Nam 2</option>
				</select>
			</div>
			<div class="form-group mb-10 form-select-c8">
				<label for="select-3">Select country</label>
				<select class="select-c8 hidden" id="select-3">
					<option value="India 3">India 3</option>
					<option value="Viet Nam 3" disabled>Viet Nam 3</option>
					<option value="Australia 3">Australia 3</option>
					<option value="United States 3">United States 3</option>
				</select>
			</div>
			<div class="form-group mb-10 form-select-c8 multiselect">
				<label for="multiple">multiselect</label>
				<select class="select-c8 hidden" id="multiple" multiple>
					<option value="India 4">India 4</option>
					<option value="Viet Nam 4" disabled>Viet Nam 4</option>
					<option value="Australia 4">Australia 4</option>
					<option value="United States 4">United States 4</option>
				</select>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="w-1/2 col form-ani">
			<div class="mb-10 form-group">
				<label for="default-tex1">Field Title</label>
				<input type="text" class="form-control" id="default-tex1" placeholder="Default Field" />
			</div>
			<div class="mb-10 form-group form-group-v2">
				<div class="relative form-inner z-1">
					<label for="default-text2"
						class="absolute m-0 pointer-events-none label-animation top-5 left-12 z-1">Animation</label>
					<input type="text" id="default-text2" class="form-control" />
				</div>
			</div>
			<div class="mb-10 form-group form-group-v2">
				<div class="relative form-inner z-1">
					<label for="default-text3"
						class="absolute m-0 pointer-events-none label-animation top-5 left-12 z-1">Animation</label>
					<input type="text" value="Thien" id="default-text3" class="form-control" />
				</div>
			</div>
		</div>
	</div>
	<div class="c-radio form-group">
		<input type="radio" id="radio1" class="c-radio" name="radios3" />
		<label for="radio1"> <span class="box"></span> My Local Location </label>
	</div>
	<div class="c-radio form-group">
		<input type="radio" checked id="radio2" class="c-radio" name="radios3" />
		<label for="radio2"> <span class="box"></span> My Local Location </label>
	</div>
	<div class="h-15"></div>
	<h3>Custom popup js</h3>

	<a href="javascript:;" data-id="#content-popup" data-htmlclass="html-popup-content"
		class="btn btn-primary popup-is-open no-underline">Popup-is-open Image</a>

	<a href="javascript:;" data-id="#content-popup2" data-htmlclass="html-popup-content"
		class="btn btn-primary popup-is-open no-underline">Popup-is-open content</a>

	<a href="https://www.youtube.com/embed/_sI_Ps7JSEk?autoplay=1&amp;autohide=1&amp;fs=1&amp;rel=0&amp;hd=1&amp;wmode=transparent&amp;enablejsapi=1&amp;html5=1"
		data-id="" data-popup="video" data-htmlclass="html-popup-video" class="btn btn-primary popup-is-open no-underline"
		allow="autoplay">Popup open video youtube</a>

	<a href="https://www.youtube.com/watch?v=_sI_Ps7JSEk&feature=emb_title" data-id="" data-popup="video"
		data-htmlclass="html-popup-video" class="btn btn-primary popup-is-open no-underline" allow="autoplay">Popup open
		video youtube 2</a>



	<a href="https://vimeo.com/70591644" data-id="" data-popup="video" data-htmlclass="html-popup-video"
		class="btn btn-primary popup-is-open no-underline" allow="autoplay">Popup open video vimeo</a>

	<a href="javascript:;" data-id="#content-popup4" data-htmlclass="html-popup-content"
		class="btn btn-primary popup-is-open no-underline">Popup-is-open not content</a>

	<a href="javascript:;" data-id="#content-popup3" data-popup="garally" data-htmlclass="html-popup-garally"
		class="btn btn-primary popup-is-open no-underline">Popup-is-open garally</a>

	<a href="javascript:;" data-id="#content-popup5" data-htmlclass="html-popup-content"
		class="btn btn-primary popup-is-open no-underline">Popup-is-open popup static</a>

	<div class="h-25"></div>

	<div id="content-popup" data-content="width-auto container" class="hidden">
		<div class="popup-inner">
			<img class="lazy"
				src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC"
				data-src="https://cdn.agilitycms.com/9th-wonder/MediaGroupings/15/nha-trang-1.jpg" alt="name image" />
		</div>
	</div>

	<div id="content-popup2" class="hidden">
		<div class="container popup-inner">
			<div class="p-10">
				<h2>Headline style h2</h2>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting
					industry. Lorem Ipsum has been the industry's standard dummy text ever
					since the 1500s, when an unknown printer took a galley of type and
					scrambled it to make a type specimen book. It has survived not only five
					centuries
				</p>
			</div>
		</div>
	</div>

	<div id="content-popup3" data-content="" class="hidden">
		<div class="container popup-inner">
			<div class="gallary-silder">
				<div class="gallary-item">
					<img class="lazy"
						src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC"
						data-src="https://cdn.agilitycms.com/9th-wonder/MediaGroupings/15/nha-trang-1.jpg" alt="name image" />
				</div>
				<div class="gallary-item">
					<img class="lazy"
						src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC"
						data-src="https://cdn.agilitycms.com/9th-wonder/MediaGroupings/15/nha-trang-1.jpg" alt="name image" />

				</div>
			</div>
		</div>
	</div>
	<div id="content-popup5" data-content="" class="mod-popup-static hidden">
		<div class="popup-container inset-0 absolute">
			<div class="popup-content container">
				<div class="mask-pop-overlay"></div>
				<div class="container popup-inner">
					<div class="p-10">
						<h2>Headline style h2 static</h2>
						<p>
							Lorem Ipsum is simply dummy text of the printing and typesetting
							industry. Lorem Ipsum has been the industry's standard dummy text
							ever since the 1500s, when an unknown printer took a galley of type
							and scrambled it to make a type specimen book. It has survived not
							only five centuries
						</p>
					</div>
					<a href="javascript:;" class="popup-is-close no-underline">
						<span class="icomoon icon-close"></span>
						<span class="sr-only">Close Popup</span>
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="h-15"></div>
	<img data-src="https://cdn.agilitycms.com/9th-wonder/MediaGroupings/15/nha-trang-1.jpg"
		src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC"
		alt="name image" class="lazy" />
	<img data-src="https://cdn.agilitycms.com/9th-wonder/MediaGroupings/15/nha-trang-1.jpg"
		src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC"
		alt="name image" class="lazy" />
	<img data-src="https://cdn.agilitycms.com/9th-wonder/MediaGroupings/15/nha-trang-1.jpg"
		src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC"
		alt="name image" class="lazy" />
	<img data-src="https://cdn.agilitycms.com/9th-wonder/MediaGroupings/15/nha-trang-1.jpg"
		src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC"
		alt="name image" class="lazy" />
	<img class="hidden md:block lazy" data-src="https://cdn.agilitycms.com/9th-wonder/MediaGroupings/15/nha-trang-1.jpg"
		src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC"
		alt="name image" />
	<img class="hidden lazy" data-src="https://cdn.agilitycms.com/9th-wonder/MediaGroupings/15/nha-trang-1.jpg"
		src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC"
		alt="name image" />
	<!-- module 'Mod Slider' -->
	<section class="module mod-slider">
		<div class="container">
			<div class="slider slider-lazy has-slider">
				<div class="slider-item">
					<div class="lazy bg" data-src="https://cdn.agilitycms.com/9th-wonder/MediaGroupings/15/nha-trang-1.jpg">
						<div class="h-50"></div>
						<div class="h-50"></div>
						<div class="h-50"></div>
						<div class="h-50"></div>
						<div class="h-50"></div>
						<div class="h-50"></div>
						<div class="h-50"></div>
						<div class="h-50"></div>
						<div class="h-50"></div>
					</div>
				</div>
				<div class="slider-item">
					<div class="lazy bg" data-src="https://cdn.agilitycms.com/9th-wonder/MediaGroupings/15/nha-trang-1.jpg">
						<div class="h-50"></div>
						<div class="h-50"></div>
					</div>
				</div>
				<div class="slider-item">
					<img class="lazy w-full" data-src="https://cdn.agilitycms.com/9th-wonder/MediaGroupings/15/nha-trang-1.jpg"
						src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC"
						alt="name image" />
				</div>

				<div class="slider-item">
					<img class="lazy w-full" data-src="https://cdn.agilitycms.com/9th-wonder/MediaGroupings/15/nha-trang-1.jpg"
						src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC"
						alt="name image" />
				</div>
				<div class="slider-item">
					<img class="lazy w-full" data-src="https://cdn.agilitycms.com/9th-wonder/MediaGroupings/15/nha-trang-1.jpg"
						src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC"
						alt="name image" />
				</div>
				<div class="slider-item">
					<img class="lazy w-full" data-src="https://cdn.agilitycms.com/9th-wonder/MediaGroupings/15/nha-trang-1.jpg"
						src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC"
						alt="name image" />
				</div>
			</div>
		</div>
	</section>

</div>

<div class="h-25"></div>
{% schema %}
{
  "name": "Universal",
  "tag": "section",
  "class": "section",
  "settings": [
  ],
  "blocks": [
  ],
  "presets": [
    {
      "name": "Universal"
    }
  ]
}
{% endschema %}